<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div th:fragment="footer">

            <p class="form-inline my-2 my-lg-0">
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}"><button type="button" class="btn btn-light">Sign Out</button></a>
            </span>

</div>
</body>
</html>
