.user-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: inset;
    padding: 10px;
}

.inf-content {
    margin: 20px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.upload-img {
    margin: 5px;
}

input[type=checkbox], input[type=radio] {
    transform: scale(1.75) !important;
}

.all-topics {
    padding: 25px;
    margin-left: 20px;
}

.form-check {
    margin: 5px;
}

.button-cust {
    margin-top: 10px;
}

.new-topic {
    margin-top: 50px;
}

.notifications {
    left: 150px;
    margin-top: -22px;
}

.btn-update {
    margin-left: 150px;
    margin-bottom: 10px;
}
