.form-check {
    border-width: 1px;
    width: 100%;
}
.form-label {
    font-size: 20px;
    font-family: "DejaVu Sans Mono", serif;
    padding-top: 20px;
}

.btn {
    margin-top: 15px;
    margin-bottom: 20px;
}

.form-check-input{
    width: 20px;
    height: 20px;
    align-self: center;
    padding: 20px;
}