<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css"/>
    <title>User preferences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand" href="#">Admin page</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin-topics">Manage topics</a>
            </li>
        </ul>
        <div th:replace="fragments/footer :: footer"/>
    </div>
</nav>

<div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4 all-topics">
                <label><strong>All topics</strong></label>
                <form th:action="@{/delete-topics}" th:object="${topicsListEmpty}" method="post">
                    <th:block th:each="topic: ${topicsList.getTopics()}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:value="${topic}" th:id="${topic}"
                                   th:field="*{topics}"/>
                            <label class="form-check-label" th:for="${topic}" th:text="${topic}"></label>
                        </div>
                    </th:block>
                    <button type="submit" class="btn btn-secondary button-cust">Delete</button>
                </form>
            </div>

            <div class="col-md-6 new-topic">
                <form th:action="@{/add-topic}" th:object="${newTopics}" method="post" enctype="multipart/form-data"
                      class="form-horizontal">
                    <div class="form-group">
                        <input type="text" placeholder="Topic name" class="form-control" th:required="required"
                               th:field="*{topics}"/>
                    </div>
                    <button type="submit" class="btn btn-secondary button-cust">Add new topic</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
