<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <title>User preferences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body th:style="'color:'+ '@{${user.getTextColor()}}' + '!important'">
<div th:replace="fragments/header" :: th:headers=""></div>
<div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                     th:src="${user.getImage()}" data-original-title="Usuario">
                <form method="POST" th:action="@{/upload-image}" enctype="multipart/form-data">
                    <input type="file" id="file" name="file"/>
                    <input type="submit" class="btn btn-secondary upload-img" value="upload"/>
                </form>
            </div>
            <div class="col-md-6">
                <strong>Information</strong><br>
                <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    Name
                                </strong>
                            </td>
                            <td>
                                <span th:text="${user.getFirstname()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud"></span>
                                    Lastname
                                </strong>
                            </td>
                            <td>
                                <span th:text="${user.getLastname()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark"></span>
                                    Username
                                </strong>
                            </td>
                            <td>
                                <span th:text="${user.getUsername()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    Role
                                </strong>
                            </td>
                            <td>
                                <span th:text="${user.getRole().toString()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    Email
                                </strong>
                            </td>
                            <td>
                                <span th:text="${user.getMail()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    Password
                                </strong>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                        data-target="#changePassword">
                                    Change password
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/change-password}" th:object="${changeUser}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new-password" class="col-form-label">New password:</label>
                            <input type="password" class="form-control" id="new-password" th:field="*{password}"
                                   th:required="required">
                            <p class="error-message"
                               th:each="error: ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes"/>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
