<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/notifications.css"/>
</head>

<body>
<h1>Registration form</h1>
<div class="panel-body">
    <form th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-3 control-label">Username</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" th:field="*{username}" th:required="required"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Password</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control"  th:field="*{password}" th:required="required"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Password again</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control"  th:field="*{matchingPassword}" th:required="required"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('matchingPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Firstname</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control"  th:field="*{firstname}" th:required="required"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstname')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Lastname</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control"  th:field="*{lastname}" th:required="required"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('lastname')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">E-mail</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control"  th:field="*{mail}" th:required="required"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('mail')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <button type="submit" class="btn-primary btn button-reg">Submit</button>
        </fieldset>
    </form>
</div>
<p><a th:href="@{/login}" class="btn btn-secondary btn-login">Login</a></p>
</body>
</html>
