<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <title>User preferences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:replace="fragments/header" :: th:headers=""></div>
<div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4 all-topics">
                <label><strong>Followed topics</strong></label>
                <form th:action="@{/unfollow-topics}" th:object="${unfollow}" method="post">
                    <th:block th:each="topic: ${userTopics.getTopics()}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:value="${topic}" th:id="${topic}"
                                   th:field="*{topics}"/>
                            <label class="form-check-label" th:for="${topic}" th:text="${topic}"></label>
                        </div>
                    </th:block>
                    <button type="submit" class="btn btn-secondary button-cust">Unsubscribe</button>
                </form>
            </div>
            <div class="col-md-6 all-topics">
                <label><strong>Available topics</strong></label>
                <form th:action="@{/follow-topics}" th:object="${follow}" method="post">
                    <th:block th:each="topic: ${availableTopics.getTopics()}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:value="${topic}" th:id="${topic}"
                                   th:field="*{topics}"/>
                            <label class="form-check-label" th:for="${topic}" th:text="${topic}"></label>
                        </div>
                    </th:block>
                    <button type="submit" class="btn btn-secondary button-cust">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
